<h2 *ngIf="isAddMode" class="page-header">Create event</h2>
<h2 *ngIf="!isAddMode" class="page-header">Edit event</h2>

<form [formGroup]="eventForm" class="eventForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline" class="form-input-big">
    <mat-label>Event title</mat-label>
    <input matInput id="title" placeholder="Title" formControlName="title">
  </mat-form-field><br>
  
  <mat-form-field appearance="outline" class="form-input-med">
    <mat-label>Start date</mat-label>
    <input matInput [matDatepicker]="pickerStart" formControlName="startDate" placeholder="Choose start date" disabled>
    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
    <mat-datepicker #pickerStart disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-input-small">
    <mat-label>Start time</mat-label>
    <input matInput id="startTime" placeholder="Choose a start time" formControlName="startTime">
  </mat-form-field><br>

  <mat-form-field appearance="outline" class="form-input-med">
    <mat-label>End date</mat-label>
    <input matInput [matDatepicker]="pickerEnd" formControlName="endDate" placeholder="Choose end date" disabled>
    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
    <mat-datepicker #pickerEnd disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-input-small">
    <mat-label>End time</mat-label>
    <input matInput id="endTime"placeholder="Choose an end time" formControlName="endTime">
  </mat-form-field><br>

  <mat-form-field appearance="outline" class="form-input-big">
    <mat-label>Location</mat-label>
    <input matInput id="location" placeholder="Enter a location" formControlName="location">
  </mat-form-field><br>

  <mat-form-field appearance="outline" class="form-input-big">
    <mat-label>Description</mat-label>
    <textarea matInput id="description" placeholder="Write your post" formControlName="description" rows="8"></textarea>
  </mat-form-field><br>  

  <button id="save" mat-raised-button color="primary">Save event</button>
</form>