<div class="flexHeader">
    <h3>Events</h3>   
    <button mat-raised-button color="primary" routerLink="/add-event" id="newEventBtn">New Event</button>
</div>

<div>
    <table mat-table [dataSource]="events">        
        <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnNames"></tr>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Event</th>
          <td mat-cell *matCellDef="let event"> {{ event.title }}
            
          <a fxFlexFill [routerLink]="['/events', event.id]" class="mat-row-link"></a>
          </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let event"> {{event.startDate | date: 'dd-MM-yyyy'}}</td>
        </ng-container>        

        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef> Time </th>
          <td mat-cell *matCellDef="let event"> <mat-icon>watch_later</mat-icon> {{ event.startTime }}</td>
        </ng-container>


        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef> Location </th>
          <td mat-cell *matCellDef="let event"> <mat-icon> place</mat-icon> {{ event.location }}</td>
        </ng-container>
        
        <ng-container matColumnDef="btns">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let event">                
                <button mat-stroked-button color="primary" 
                (click)="editEvent(event.id)" class="e2e-edit">Edit</button>
                <button mat-stroked-button color="warn" 
                (click)="deleteEvent(event.id)" class="e2e-edit">Delete</button>
            </td>
        </ng-container>
    </table>      
</div>