$border-color: rgb(231, 231, 231);
$background-color: white;

.nav-bar {
    background-color: $background-color;
    display: flex;
    justify-content: space-around;
    border: 1px solid $border-color
}

.container {
    display: grid;
    grid-template-columns: minmax(100px, 12%) 1fr;
}

.sidenav {
    height: 100vh;
    padding: 0 5px;
    border: 1px solid $border-color;
    background-color: $background-color;
}

.nav-icon {
    position: relative;
    top: 6px
}

.content {
    padding: 2rem;
    margin: 2rem;
    border: 1px solid $border-color;
    background-color: $background-color;
}
