<mat-selection-list [multiple]="false">
    <mat-list-option routerLink="posts" routerLinkActive="active" class="e2e-posts">
        <div>
            <mat-icon aria-hidden="false" aria-label="Example post icon">assignment</mat-icon>
            Posts
        </div>
    </mat-list-option> 

    <mat-list-option id="events" routerLink="events" routerLinkActive="active">
        <div>
            <mat-icon aria-hidden="false" aria-label="Example event icon">event</mat-icon>
            Events
        </div>
    </mat-list-option>

<!--    <mat-list-option routerLink="collections" routerLinkActive="active">-->
<!--        <div>-->
<!--        <mat-icon aria-hidden="false" aria-label="Example collection icon">collections</mat-icon>-->
<!--            Collections-->
<!--        </div>-->
<!--    </mat-list-option>-->

<!--    <mat-list-option routerLink="chats" routerLinkActive="active">-->
<!--        <div>-->
<!--        <mat-icon aria-hidden="false" aria-label="Example chat_bubble icon">chat_bubble</mat-icon>-->
<!--            Chats-->
<!--        </div>-->
<!--    </mat-list-option>-->

  <mat-list-option id="volunteers" routerLink="volunteers" routerLinkActive="active">
    <div>
      <mat-icon aria-hidden="false" aria-label="Example people icon">people</mat-icon>
      Volunteers
    </div>
  </mat-list-option>

    <mat-list-option routerLink="signup" routerLinkActive="active">
        <div>
        <mat-icon aria-hidden="false" aria-label="Example signup icon">person_add</mat-icon>
            Signup
        </div>
    </mat-list-option>


    <mat-list-option routerLink="login" routerLinkActive="active">
        <div>
        <mat-icon aria-hidden="false" aria-label="Example login icon">person_outline</mat-icon>
            Login
        </div>
    </mat-list-option>
</mat-selection-list>
