/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    background-color: rgb(235, 235, 235);
}

body { 
    margin: 2rem; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flexHeader {
    display: flex;
    justify-content: space-between;
}

.form-input-small {
    width: 10%;
}

.form-input-med {
    width: 15%;
}

.form-input-big {
    width: 40%;
}

.eventForm .mat-form-field {
    margin: 0px 2em;
}

.page-header {
    margin: 20px 30px;
}